<!-- <ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Sign-In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="">
        <form [formGroup]="signInForm" (ngSubmit)="onLogin()">
          <ion-card>
            <ion-card-header> </ion-card-header>

            <ion-card-content>
              <div class="ion-text-end" *ngIf="authService.loading$ | async">
                <ion-spinner
                  style="height: 20px"
                  color="primary"
                  name="circular"
                ></ion-spinner>
              </div>

              <ion-item>
                <div>
                  <ion-input
                    label="Email"
                    labelPlacement="floating"
                    placeholder="Enter Email"
                    name="email"
                    formControlName="email"
                    required
                  ></ion-input>
                  <ion-label
                  color="danger"

                    *ngIf="
                      (signInFormControl['email'].touched || isFormSubmitted) &&
                      signInFormControl['email'].errors['required']
                    "
                  >
                    Email is required
                  </ion-label>
                </div>
              </ion-item>
              <ion-item>
                <div>
                  <ion-input
                    type="password"
                    label="Password"
                    labelPlacement="floating"
                    placeholder="Enter Password"
                    name="password"
                    formControlName="password"
                    required
                  ></ion-input>
                  <ion-label
                    class="text-danger"
                    color="danger"
                    *ngIf="
                      (signInFormControl['password'].touched ||
                        isFormSubmitted) &&
                      signInFormControl['password'].errors['required']
                    "
                  >
                    password is required
                  </ion-label>
                </div>
              </ion-item>

              <ion-button
                [disabled]="authService.loading$ | async"
                type="submit"
                expand="block"
                class="ion-margin"
              >
                <ion-spinner
                  *ngIf="authService.loading$ | async"
                  name="dots"
                ></ion-spinner>
                <span *ngIf="!(authService.loading$ | async)">Login</span>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-card>
          <ion-card-header
            ><p>
              Don't have an account?
              <a
                color="primary"
                class="ionic-underline-none"
                routerLink="/auth/sign-up"
                >Sign up
              </a>
            </p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: 10px" class="ion-text-center" color="primary"
      >Mecaps<sup style="font-weight: 700">Beta</sup> Attendance Tracker
      copyright@2023</ion-title
    >
  </ion-toolbar>
</ion-footer> -->

<ion-header> </ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <h4>Login</h4>
    <p>Lets get started</p>
  </div>
  <div class="ion-text-end" *ngIf="authService.loading$ | async">
    <ion-spinner
      style="height: 20px"
      color="primary"
      name="circular"
    ></ion-spinner>
  </div>

  <form [formGroup]="signInForm" (ngSubmit)="onLogin()">
    <div>
      <ion-input
        type="email"
        placeholder="Enter Email"
        formControlName="email"
        class="primary-input"
        required
      ></ion-input>
      <ion-label
        color="danger"
        *ngIf="
          (signInFormControl['email'].touched || isFormSubmitted) &&
          signInFormControl['email']?.errors?.required
        "
      >
        Email is required
      </ion-label>
    </div>
    <div>
      <ion-input
        placeholder="Password"
        formControlName="password"
        type="password"
        class="primary-input"
        required
      ></ion-input>

      <ion-label
        class="text-danger"
        color="danger"
        *ngIf="
          (signInFormControl['password'].touched || isFormSubmitted) &&
          signInFormControl['password']?.errors?.required
        "
      >
        password is required
      </ion-label>
    </div>

    <div  disabled class="ion-margin-top ion-text-right forget">
      <a>Forgot Password?</a>
    </div>

    <div class="ion-margin-top">
      <ion-button
        type="submit"
        expand="block"
        [disabled]="authService.loading$ | async"
        type="submit"
      >
        <ion-spinner
          *ngIf="authService.loading$ | async"
          name="dots"
        ></ion-spinner>
        <span *ngIf="!(authService.loading$ | async)">LOGIN</span></ion-button
      >
    </div>

    <div class="ion-margin-top ion-text-center">
      <a (click)="dismiss()">Close</a>
    </div>
  </form>
</ion-content>
